@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
  font-family: 'Noto Sans', sans-serif;
}

.App {
  background-color: #f9f9f9;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-box {
  min-width: 40%;
  min-height: 70%;
  background-color: #e9e9e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.chat-body {
  flex: 100%;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}



.chat-message {
  flex: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
}

.chat-message textarea {
  resize: none;
  margin: 0.25rem 1rem;
  border-radius: 4%;
}

.chat-button {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.chat-button button {
  display: block;
  margin: 0.25rem 1rem;
}

.chat-thread {
  display: flex;
  flex-direction: column;
  height: 300px;
  flex: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0.25rem 1rem;
  border-radius: 5px;
}

.chat-thread p {
  margin: 0.25rem 1rem;
  border-radius: 5px;
  min-height: fit-content;
  padding: 0.25rem 0.5rem;
  
}

.chat-thread p span {
  display: block;
  font-size: 0.75rem;
  font-weight: 300;
}



p.none {
  background-color: rgb(201, 201, 201);
}

p.incoming {
  background-color: rgb(108,173,223);
  display: block;
  word-break: break-all;
  word-wrap: break-word;
}
p.outgoing {
  display: block;
  word-wrap: break-word;
  text-align: right;
  word-break: break-all;
  background-color: rgb(129,222,118);
  
}


p.none span,
p.incoming span,
p.outgoing span {
  
  margin: 0.2rem 0;
}